.GIF {
	width: 30%;
	height: 200px;
	min-width: 200px;
	margin: 0.5em;
	background-color: rgba(0, 0, 0, 0.5);
	padding-bottom: 50px;
	border-radius: 8px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.1);
	overflow: hidden;
}

.GIF > video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.GIF > .button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	margin: 0 0.5em;
}

.GIF > .button-container > button {
	white-space: nowrap;
	cursor: pointer;
}

.GIF > .button-container > input {
	flex: 1;
	background: none;
	font-size: 1em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 0.3em;
	color: rgba(255, 255, 255, 0.8);
}